body {
  background-image: url('../images/aboutMe.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
    border:  black 1px;
    border-style: hidden hidden solid hidden;
}